Dnspython
Motor
Pyrogram
Pymongo
Requests 
TgCrypto
https://github.com/pyrogram/pyrogram/master.zip
https://github.com/mongodb/mongo-python-driver/master.zip
https://github.com/mongodb/motor/master.zip
https://github.com/rthalley/dnspython/master.zip
