Dnspython
Motor
Pyrogram
Pymongo
Requests 
TgCrypto
https://github.com/pyrogram/pyrogram
https://github.com/mongodb/mongo-python-driver
https://github.com/mongodb/motor
https://github.com/rthalley/dnspython
